.score {
    background-color: white;
    color: #2a46c0;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 100px;
    font-weight: bold;
}

@media (max-width: 860px) {
    .score {
        top: 250px;
        right: 0;
        left: 20px;
    }
}